language: java
install: gradle clean build jacoco
jdk:
  - oraclejdk8
before_install:
  - sudo apt-get update
  - sudo apt-get install --only-upgrade -y oracle-java8-installer
after_success:
  - bash <(curl -s https://codecov.io/bash)
